/*-------------------------------------------------------------------------------------------------------------*/
:root{
    --color-main: #B3A487;
    --color_secundario: #E0D0B3;
    --color-terciario: #D8C092;
}

/*-------------------------------------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1  { font-size: 3.5em; }
h2  { font-size: 2.7em; }
h3  { font-size: 2em; }
p   { font-size: 1.25em; }
ul  { list-style: none; }
li  { font-size: 1.25em; }

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: var(--color_secundario);
}

button:hover{
    background-color: var(--color-terciario);
}
.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:var(--color-terciario); }
/*-------------------------------------------------------------------------------------------------------------*/
nav {
    background-color: var(--color_secundario);
}

.logotipo {
    display: flex;
    align-items: center;
}
.logotipo img {
    height: 50px;
    margin-right: 10px;
}
/*
.logotipo p {
    font-weight: 600;
    color: var(--color-terciario);
}
nav a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
    font-weight: 600;
}
nav a:hover {
    color: var(--color-terciario);
}*/
/*-------------------------------------------------------------------------------------------------------------*/
#somos .container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 200px 12px;
}

#somos .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#somos h2{
    margin-top: 0px;
}

#somos .img{
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px; 
}

@media (max-width: 768px){
    #somos .container{
        flex-direction: column-reverse;
    }

    #somos .img{
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 365px; 
    }

    #somos .texto{
        width: 100%;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/
#nuestros-productos{
    background-color: var(--color-main);
    color: white;
    text-align: center;
}

#nuestros-productos .container{
    padding: 150px 12px;
}

#nuestros-productos h2{
    padding-bottom: 5%;
    font-size: 3.2em;
}


#nuestros-productos .carta{
    background-position: center center;
    background-position-y: 0;
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-color: rgba(50, 50, 50, 1);
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}


.texto {
    padding-top: 25%;
    padding-left: 5%;
    padding-right: 5%;
}

.carta {
    width: 25%;
}

@media (max-width: 768px) {
    #nuestros-prodcutos h2{
        margin-top: 0;
        padding-top: 0;
    }
    .carta {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .carta {
        width: 100%;
    }
}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)
    )
    ,url("media/Esquinero-NY-3c.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/mueble-tv.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/mesa-luz.jpg");

}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/esquinero.jpg");
}

.carta:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/img1.jpg");
}

.carta:nth-child(6){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/living.jpg");
}


/*-------------------------------------------------------------------------------------------------------------*/
#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-main);
    color: white;
    min-height: 120vh;
}

#final h2{
    font-size: 4rem;
    padding-bottom: 10%;
}

#final button{
    font-size: 5vw;
}

form {
    margin: 0 auto;
    width: 600px;
    background: #CDB68B;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-family: Calibri;
    font-weight: 600;
    font-size: 0.8em;
}
input, textarea {
    border: 0;
    width: 480px;
    border-radius: 5px;
}
.celda {
    border: solid 2px #958464;
    padding: 10px;
}
.centrar {
    text-align: center;
}
.boton-form {
    background: var(--color_secundario);
    border-radius: 5px;
    border-radius: 5px solid #958464;
    padding: 12px;
}

.boton-form:hover{
    background: #958464;
}

@media (max-width: 768px) {
    #final h2{
        font-size: 3rem;
        padding-bottom: 20%;
    }
    form{
        width: 80%;
    }
    input, textarea {
        width: 70%;
    }
}
/*-------------------------------------------------------------------------------------------------------------*/
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), /*esto sombrea la imagen de fondo para que no opaque al texto :D*/
        rgba(0,0,0,0.5)
    )
    ,url("media/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner h1{
    color: white;
}

@media (max-width: 768px) {

    #banner h1{
        font-size: 2.8rem;
    }
}


/*-------------------------------------------------------------------------------------------------------------*/

#comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-main);
    padding-bottom: 75px;
}
.comentarios-header {
    margin: 50px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comentarios-header h2 {
    margin-top: 0;
    font-size: 3.2em;
    padding: 10px 20px;
    color: white;
}
.comentarios-header span {
    font-size: 1.5rem;
    color: #252525;
    justify-content: center;
    align-items: center;
}

.container-comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.comentario_caja {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.perfil_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}
.perfil_img img {
    width: 100%;
    height: 100%;
    object-fit: center;
}
.perfil {
    display: flex;
    align-items: center;
}
.nombre-usuario {
    display: flex;
    flex-direction: column;
}
.nombre-usuario strong {
    color: #3d3d3d;
    font-size: 1.3rem;
}
.nombre-usuario span {
    color: #979797;
    font-size: 1.1rem;
}
.reseñas {
    color: #f9d71c;
}
.caja-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.comentarios_clientes p {
    color: rgb(90,90,90);

}
/*-------------------------------------------------------------------------------------------------------------*/
footer{
    background-color: rgb(230,230,230);
}

footer p{
    padding-right: 35%;
    padding-bottom: 5px;
    font-size: 0.8rem;
    margin: 0;
    color: rgb(100,100,100);
}

footer .container{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 768px) {
    footer p{
        padding: 0;
    }
    footer .container{
        height: 36px;
    }
}
/*-------------------------------------------------------------------------------------------------------------*/
nav {
    padding: 10px 0px;
}


#nuestros-productos .productos{
    display: flex;
    justify-content: center;
}

#nuestros-productos p{
    display: block;
    margin-bottom: 30px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
}
/*
.carta {
    width: 33%;
    box-sizing: border-box;
    padding: 0 10px;
}
*/
@media (max-width: 768px) {
    .carta {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .carta {
        width: 100%;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/