@import "../var/_var.scss";

@mixin gradient($start-color, $end-color) {
    background-image: radial-gradient(circle, $start-color , $end-color);
}

#banner {
    @include gradient(rgba(246,224,180,1) 16%, rgba(82,64,19,1) 100% );
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    h1 {
        color: #3D3D3D;
    }
}

@media (max-width: 768px) {
    #banner{
        h1 {
            font-size: 2.8rem;
        }
    }
}

