@import "../var/_var.scss";

footer{
    background-color: rgb(230,230,230);
}

footer{
    p{
        margin-left: 100px;
        padding-bottom: 5px;
        font-size: 0.8rem;
        margin: 0;
        color: rgb(100,100,100);
    }
}

footer{
    .container{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

@media (max-width: 768px) {
    footer{
        p{
            padding: 0;
        }
    }
    footer{
        .container{
            height: 36px;
        }
    }
}